

main {
	background: #2c8571;
	color: #FAFAFA;
	animation: changebaby 10s infinite;
}

@keyframes changebaby {	
	0%{
		background-color: #82b156;
		}
	25%{
		background-color: #2e60cc;
		}
	50%{
		background-color: #973c53;
		}
	75%{
		background-color: #2e60cc;
		}
	100%{
		background-color: #82b156;
		}
	
}

.icons-social a {
	color: #FAFAFA;
	transition: color 500ms ease;
}

.icons-social a:hover {	
	color: #19bcd1
}

.icons-social a svg path{
	fill: #FAFAFA;
	transition: fill 500ms ease;
}

.icons-social a svg path:hover {	
	fill: #174727
}

span::before {	
	content: "Hello";
	animation: anim infinite 10s;
}

@keyframes anim {	
	0% {	
		content: "Hello";
	}
	25% {	
		content: "Merhaba";
	}
	50% {	
		content: "Salut";
	}
	75% {	
		content: "Hallo";
	}
	100% {	
		content: "Hello";
	}
}